<div class="container pt-4 pb-4">
  <div class="row d-flex justify-content-sm-center ">
    <div class="col-md-5">
      <form class="border border-2 rounded w-700 p-3">
        <h4 class="text-center mb-3">Nouveau client ? Inscrivez-vous !</h4>
        <div class="form-group">
          <input type="text" class="w-100 form-control" placeholder="Entrez votre email">
        </div>
        <div class="form-group">
          <input type="text" class="w-100 form-control" placeholder="Entrez votre mot de passe">
        </div>
        <div class="form-group">
          <input type="text" class="w-100 form-control" placeholder="Entrez votre nom">
        </div>
        <div class="form-group">
          <input type="text" class="w-100 form-control" placeholder="Entrez votre prénom">
        </div>
        <div class="form-group">
          <input type="text" class="w-100 form-control" placeholder="Entrez votre adresse">
        </div>
          <div class="form group mb-3 d-flex justify-content-center ">
          <div class="form-group w-100 mt-2">
            <button (click)="signIn()">S'inscrire</button>
            <div class="mt-2">
              <span>Déjà inscrit chez nous ? <a routerLink="/connexion">Se connecter</a></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
