<header>
	<div class="menu bckgColor p-0">
	    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0">
	        <div class="container-fluid p-0">
	            <a class="navbar-brand p-0" routerLink="">
                    <img src="/assets/picture/logo-pf.png" alt="logo ShoppyShop" class="nav-link sizeLogo">
                </a>
	            <ul class="nav justify-content-end">
	                <li class="nav-item"><a class="nav-link" href="inscription.jsp">Connexion</a></li>
						<li class="nav-item"><a class="nav-link" href="panier.jsp">Mon panier</a></li>
						<form action="logout" method="post">
						    <button class="btn btn-outline-danger" type="submit">Déconnexion</button>
						</form>
	            </ul>
	        </div>
	    </nav>
	</div>
</header>