<footer class="d-flex column centered footer-second pt-3 pb-3">
  <div class="d-flex justify-content-around align-items-center w-75">
    <a class="navbar-brand p-0" routerLink="/">
      <img src="/assets/picture/logo-gf.png" alt="logo ShoppyShop" class="maxSize radiusBorder">
    </a>
    <div class="d-flex centered text-white">
      <div class="d-flex column centered">
        <h3>Site réalisé par</h3>
        <ul class="m-0 p-0">
          <li>Hermel Camille</li>
          <li>Hoummadi Selim</li>
          <li>Idrissi Amale</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mt-2 text-center text-white">
      © 2022 ShoppyShop
  </div>
</footer>
