/* || Couleur par défaut */
:root {
  --main-color:#5271ff;
  --orange-color:#F58634;
}


/* || Modèle page */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vertical-layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content {
  margin-top: 70px;
  flex: 1; /** récupère l'espace disponible restant **/
}

/* || Accueil */
body {
width:100%;
}

.newWidth {
width: 70%;
margin: 0;
}

.card img {
width : auto;
height: 200px;
}

.sizeArticle {
  width: 200px;
}

.column {
flex-direction: column;
}

.centered {
justify-content: center;
align-items: center;
}

h1 {
text-align: center;
margin-top: 30px;
}

.noBorder > card {
border: none;
}

.between {
justify-content: space-between;
}

thead th, h2, h1 {
text-transform: uppercase;
}

td, th {
text-align: center;
}

.bckgrdCom {
background-color: rgb(196, 221, 255);
}

.logopnr img {
width: 30px;
}

.imgBckgd {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image : url(../src/assets/picture/orderSuccess.png);
  background-repeat : no-repeat;
  background-size : cover;
  background-attachment:fixed;
}

/* || menu */
.menuFixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 70px;
}

.sizeLogo {
  max-width: 60px;
}

.radiusBorder {
  border-radius: 5px;
}

.bckColor {
  background-color: var(--main-color);
}

.orangeColor {
  color: var(--orange-color);
}

.whiteColor {
  color: white;
}

/* || footer */
.footer-first
{
  background-color: #D4ECDD;
  color: #112031;
}

.form-group {
  padding: 5px;
}

.maxSize, .maxImg {
  max-height: 100px;
}

.maxSize {
  max-width: 100px;
}

.footer-first li
{
  list-style: none;
}

.footer-second
{
  background-color: var(--main-color);
}

.footer-second > img
{
  margin: 15px;
}
