<div class="d-flex column between centered pb-4 pt-4">
  <div class="d-flex mb-5 justify-content-around">
    <div class="d-flex">
      <div class="nav-item" *ngFor="let category of uniqueCategories">
        <a class="nav-link mainColor" [routerLink]="['/article/', category]">{{ category }}</a>
      </div>
    </div>
    <div class="form-inline d-flex">
      <input class="form-control mr-sm-2 mr-3" type="text" [(ngModel)]="searchText" placeholder="Rechercher">
    </div>
  </div>
  <h2>Tous nos articles</h2>
  <div class="noBorder card-deck justify-content-center d-flex flex-wrap">
      <div *ngFor="let article of articles | filter: searchText">
          <div class="card d-flex align-items-center sizeArticle">
            <h3 class="card-head text-center">{{ article.marque.toUpperCase() }}</h3>
            <img [src]="'/assets/' + article.imageUrl" [alt]="'image de ' + article.description" class="card-img-top d-flex centered">
            <div class="d-flex row logopnr align-items-center">
              <h5 class="card-text text-center font-weight-bold float-left">{{ article.prix }}€</h5>
            </div>
            <p class="m-0 p-2 sizeArticle text-left text-truncate">{{ article.description }}</p>
          </div>
      </div>
  </div>
</div>
